<input type="radio" data-native="true" name="${category}-sources-${feed_account_id}" data-index="${index}" id="source-${feed_account_id}-${source._id}" data-id="${source._id}" data-role="none">
<label for="source-${feed_account_id}-${source._id}">
{{if source.feed_info.title}} ${source.feed_info.title} {{else}} ${source.name} {{/if}}
</label>