<ul data-role="listview" data-theme="c" {{if smallScreen}}data-split-icon="arrow-r" data-split-theme="c" class="split-selector"{{/if}}>
	<li data-icon="false" data-theme="d">
		<a class="load-more-entries">Load more...</a>
	</li>
</ul>