<div data-role="controlgroup" data-type="horizontal">
	<a data-role="button" data-icon="refresh" data-iconpos="notext" data-theme="a" data-inline="true" class="panel-refresh">Refresh</a>
	{{if editable}}
		<a data-role="button" data-icon="grid" data-iconpos="notext" data-theme="a" data-inline="true" class="panel-manage">Edit</a>
		<a data-role="button" data-icon="delete" data-iconpos="notext" data-theme="a" data-inline="true" class="panel-remove">Remove</a>
	{{/if}}
</div>